.modal-container {
    position: fixed;
    top: 0;
    z-index: 100;
}
.modal-container .modal-background {
    background: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}
.modal-container .modal-card {
    position: absolute;
    z-index: 100;
    background: white;
    width: 70%;
    padding: 20px;
    margin-left: calc(15% - 20px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: animatetop;
    animation-duration: 0.5s;
}
.modal-container .modal-card div {
    margin-top: 15px;
}
.modal-container .modal-card img {
    width: 200px;
}
.modal-container .modal-card span {
    font-weight: bold;
    margin-right: 15px;
}
.modal-container .modal-header {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}
.modal-container .modal-header span {
    position: absolute;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}
.modal-container .modal-footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
@keyframes animatetop {
    from {
        top: -50%;
        opacity: 0;
   }
    to {
        top: 50%;
        opacity: 1;
   }
}
