.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.GallerySelector {
    display: flex;
    padding-right: 22px;
    margin-top: 40px;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.gallery-container {
    display: flex;
}